# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

.DS_Store

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Hugo
public/

# Build lock for hugo
.hugo_build.lock

# Hugo temp area
resources
